/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json
/public/fonts
/resources/wechat_pay
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
